*

!base/
!base/**/
!cursor-theme/
!cursor-theme/**
!icons/
!icons/*
!modules/
!modules/**/
!system/
!system/**/
!wrapped/
!wrapped/**/
!wallpapers/
!wallpapers/*


!avatar.jpg
!justfile
!flake.nix
!flake.lock
!secrets.yaml
!.sops.yaml
!.gitignore
!*.nix
!*.md


keys.txt